---
import "../styles/tailwind.css";
import "../styles/global.css";

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

export interface Props {
  title: string;
  description: string;
  permalink: string;
}

const { title, description, permalink } = Astro.props;
const rssLink = `${Astro.site.href}rss.xml`;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>{title} - {SITE_TITLE}</title>

<meta name="description" content={description} />

<meta name="color-scheme" content="light dark" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={permalink}>

<link rel="alternate" type="application/rss+xml" title="Subscribe to my blog" href={rssLink} />

<link is:inline rel="stylesheet" href="/assets/css/theme.css">

<script is:inline src="/js/darkmode.js" defer></script>

<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>